/* Carousel base class */
.carousel {
  height: 500px;
  /*margin-bottom: 60px;*/
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}
.carousel-caption h1 {
  font-size:28px;
}
.carousel-control {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  filter: alpha(opacity=70);
  opacity: .7;
}
.carousel-control:hover,
.carousel-control:focus {
  color: #757575;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: 0;
  opacity: .9;
}
/*
.carousel-control.left,
.carousel-control.right {
	background-image:none;
}
*/
.carousel-indicators {
  bottom:-50px;
}
.carousel-inner {
   margin-bottom:50px;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #8b8b8b \9;
  background-color: rgba(139, 139, 139, 9);
  border: 1px solid #8b8b8b;
  border-radius: 10px;
}
.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #212121;
}
/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #fff;
  /*
	background-image: -webkit-linear-gradient(top, #9dc9b9 0%, #609784 100%);
  background-image:      -o-linear-gradient(top, #9dc9b9 0%, #609784 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9dc9b9), to(#609784));
  background-image:         linear-gradient(to bottom, #9dc9b9 0%, #609784 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9dc9b9', endColorstr='#ff609784', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  */
}
.carousel-inner > .item > img, .jumbotron {
  display:none;
}
/* RESPONSIVE CSS */
@media (min-width: 500px) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
	.carousel-inner > .item > img {
		display:inherit;
  	position: absolute;
  	top: 0;
  	left: 0;
  	min-width: 100%;
	}
}
@media (min-width: 992px) {
	.jumbotron {
		display:block;
	}
}