body, html {
	height: 100%;
	margin: 0;
}
html {
	position: relative;
	min-height: 100%;
}
body {
	color:#212121;
	background-color:#fff;
	font: 'Lato', arial, sans-serif;
}
h1,h2,h3,h4,h5,h6 {
	color:#4caf50;
	font-family: 'Cabin', arial, sans-serif;
}
.btn {
	text-transform:uppercase;
}
/* Navbar */
.navbar-default {
	background-color:#fff !important;
	border-top:3px solid #388e3c;
	border-bottom:1px solid #ddd;
	font-size:2rem;
	font-weight:400;
	text-transform:uppercase;
}
.navbar-default .navbar-nav > li > a {
	color: #388e3c;
	border-bottom: 2px solid #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #4caf50;
	border-bottom: 2px solid #4caf50;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
	color:#e040fb;
    background-color: #fff;
}
.navbar-default .navbar-toggle {
	border-color: #998675;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #ddd;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #998675;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	color: #555;
	background-color: #e3f7ff;
}
.navbar-left > img {
	max-height:40px;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:5px;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
@media (min-width: 768px) {
	.navbar-left > img {
		max-height:75px;
		margin-left:0;
	}
}
.navbar-nav {
	padding-top:20px;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
/* Shrink nav on scroll */
.navbar-left > img.shrink {
	max-height:50px;
}
.navbar-nav.shrink {
	padding-top:5px;
}
.dropdown-header {
	color:#104b86;
	font-weight:700;
}
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}
/* info-bar */
.info-bar {
	background-color:#1b5e20;
	/*
	background-image: -webkit-linear-gradient(top, #2e7d32 0%, #1b5e20 100%);
	background-image:      -o-linear-gradient(top, #2e7d32 0%, #1b5e20 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#2e7d32), to(#1b5e20));
	background-image:         linear-gradient(to bottom, #2e7d32 0%, #1b5e20 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2e7d32', endColorstr='#ff1b5e20', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background-repeat: repeat-x;
	*/
	color:#fff;
	font-size:18px;
	font-weight:400;
	margin-top:53px;
	padding-top:4px;
	padding-bottom:4px;
	text-align:center;
	text-shadow: 0 1px 0 #212121;
}
@media (min-width: 768px) {
	.info-bar {
		margin-top:88px;
	}
}
/* Jumbotron */
.jumbotron {
	background-color:#fff;
	/*
  background-image: -webkit-linear-gradient(top, #9dc9b9 0%, #609784 100%);
  background-image:      -o-linear-gradient(top, #9dc9b9 0%, #609784 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9dc9b9), to(#609784));
  background-image:         linear-gradient(to bottom, #9dc9b9 0%, #609784 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9dc9b9', endColorstr='#ff609784', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  */
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom:0px;
}
main {
  /* Give the main content container a solid background color to hide the fixed position video */
  background: #fff;
  font-size:20px;
  font-weight:400;
  line-height:1.5;
}
.bg-grey,.bg-grey .heading-1 span {background-color:#eceff1;}
.band {padding:2rem;}
.band h2,.band h3,.band h4 {color:#392f2b;}
.band h1 {
	border-bottom: 2px solid #4caf50;
	font-size:42px;
	font-weight:300;
	letter-spacing: 1px;
	padding-bottom: 18px;
}


/* Footer */
.footer {
	background-color:#e8f5e9;
	color:#dddddd;
}
.footer a {
	color:#388e3c;
}
.footer h3 {
	color:#333;
	font-size: 24px;
	font-weight: 400;
	margin-top: 15px;
	margin-bottom: 25px;
}
.footer .container {
	padding-top:1rem;
	padding-bottom:1rem;
}
.social-container {
	color:#333;
	padding:1rem;
}
.nav-social {
	margin-bottom:10px;
}
.nav-social a {
	color:#1b5e20;
	margin-right:10px;
}
.nav-social a:hover {
	color:#388e3c;
}
.days {
	color:#4caf50;
}
.hours,.phone,address {
	color: #333;
	font-size: 2rem;
    line-height: 2.4rem;
}
.hours {
    text-transform: uppercase;
    list-style: none;
	padding-left:0;
}
.phone {
	list-style: none;
	padding-left:0;
}
@media (min-width: 768px) {
	.hours {
		text-align:center;
	}
	.phone,address {
		text-align:right;
	}
}
.copyright-container {
	background-color:#c8e6c9;
	color:#666;
}
.copyright-container a {
	color:#715250;
}
@media (min-width: 992px) {
	.copyright-container {
		text-align:right;
	}
}

/* Buttons */
.btn-default {
	color:#fff;
	background-color:#923a6a;
	border-color:#731c4c;
}
.btn-default:focus,
.btn-default.focus,
.btn-default:hover {
  color: #fff;
  background-color: #731c4c;
  border-color: #731c4c;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #212121;
  background-color: #B4648f;
  border-color: #923a6a;
}

.btn-subscribe {
  color: #fff;
  background-color: #1b5e20;
  border-color: #1b5e20;
}
.btn-subscribe:focus,
.btn-subscribe.focus,
.btn-subscribe:hover {
  color: #fff;
  background-color: #388e3c;
  border-color: #388e3c;
}
.btn-subscribe:active,
.btn-subscribe.active,
.open > .dropdown-toggle.btn-subscribe {
  color: #fff;
  background-color: #43a047;
  border-color: #388e3c;
}
.btn-subscribe:active:hover,
.btn-subscribe.active:hover,
.open > .dropdown-toggle.btn-subscribe:hover,
.btn-subscribe:active:focus,
.btn-subscribe.active:focus,
.open > .dropdown-toggle.btn-subscribe:focus,
.btn-subscribe:active.focus,
.btn-subscribe.active.focus,
.open > .dropdown-toggle.btn-subscribe.focus {
  color: #fff;
  background-color: #d58512;
  border-color: #9575cd;
}
.btn-subscribe:active,
.btn-subscribe.active,
.open > .dropdown-toggle.btn-subscribe {
  background-image: none;
}
